/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.col-1 {
  float: left;
  margin: 0%;
  width: 64.5%;
}

}
.col-2 {
  clear: both;
  float: right;
  margin: 5px;
  width: 10%;
}
.col-3 {
  margin: 5px;
  width: 28%;
  /*display: inline-block;*/
}
.first {
  margin-left: 0%;
}
/*.middle {
  float: right;
}*/
.last {
  margin-right: 0%;
}
